/*
FONTS

font-family: 'Shrikhand', cursive;
font-family: 'Roboto Mono', monospace;

*/

body {
    background-image: url(imgs/sun-pattern/sun-pattern.png);
}

.sm-space {
    height: 10px;
}

.md-space {
    height: 20px;
}

.lg-space {
    height: 30px;
}

.block {
    font-family: 'Roboto Mono', monospace;
}

#title {
    font-family: 'Shrikhand', cursive;
}

#errorArea {
    color: red;
}

ul {
    list-style-position: inside;
}
